<div class="ui menu admin">
  <a class="item" [routerLink]="['/']">
      Cashbox project
  </a>
  <a [routerLink]="['/admin']" routerLinkActive="active" class="item" [routerLinkActiveOptions]="{exact:
true}">     
    Admin
  </a>
  <a [routerLink]="['/admin/products-managment']" routerLinkActive="active" class="item" [routerLinkActiveOptions]="{exact:
true}">     
    Product managment
  </a>
  <a [routerLink]="['/admin/transactions']" routerLinkActive="active" class="item" [routerLinkActiveOptions]="{exact:
    true}">     
        Transactions
      </a>
</div>